.description {
  width: 65%;
  opacity: 0.85;
  font-size: 14px;
  line-height: 25px;
}

.description__title {
  margin-top: 0;
  text-transform: none;
  font-size: 22px;
  opacity: 0.9;
}

/* .accordion__del {
  display: none;
} */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #e0f2ff;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: all 0.5 s ease;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13 px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2796'; /* Unicode character for "minus" sign (-) */
}

/* .active{} */

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
  color: #ff2b4a;
  border-bottom: 1 px solid #ff2b4a;
  opacity: 0.85;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max - height 0.2 s ease - out;
}
