/* Style the buttons that are used to open and close the accordion panel */
.description-accordion__title {
  background-color: #d4ebfc;
  padding-left: 15px;
  color: #161819;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.description-accordion__title:hover {
  background-color: #c7e5fc;
}

.description-accordion__title:after {
  /*content: '\02795';  Unicode character for "plus" sign (+) */
  content: '\25BC';
  font-size: 20px;
  color: #ff2b4a;
  float: right;
  /* margin-left: 0;
  padding-bottom: 30px; */
}

.active:after {
  content: '\25B2'; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
.description-accordion__blok {
  padding: 0 18px;
  background-color: #e0f2ff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
