@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 28px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 10px 0;
}

h1 {
  font-size: 50px;
  letter-spacing: 0.22em;
  line-height: 85px;
  border-top: 3px solid #9eb4be;
  border-bottom: 3px solid #9eb4be;
  width: 700px;
  padding: 14px 0;
  margin: 0 auto;
  text-transform: uppercase;
}

h2 {
  font-weight: 900;
  font-size: 40px;
}

h3 {
  padding-top: 15px;
}

h4 {
  opacity: 0.9;
  font-size: 18px;
}

p {
  margin-top: 7px;
}

ul {
  display: flex;
  padding-left: 15px;
}

li {
  position: relative;
  padding-right: 40px;
  list-style-image: square;
}

.header {
  background: #806a7c url('../img/bg.jpg') no-repeat center top / cover;
  color: #fff;
  padding-bottom: 170px;
  padding-top: 90px;
}

.section {
  padding: 100px 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.blok {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.logo {
  display: block;
  width: 150px;
  height: 90px;
}

.mail {
  display: block;
  color: #ccdfec;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer {
  margin-top: 130px;
  text-align: center;
}

.offer__description {
  font-size: 22px;
  color: #bcccd3;
  padding-top: 26px;
  margin: 0;
}

.about {
  background: #e0f2ff;
}

.photo-img {
  border-radius: 50%;
  width: 320px;
  height: 320px;
  padding: 0 10px 10px;
}

.link {
  text-decoration: none;
  font-weight: 700;
  color: #ff2b4a;
  transition: all 0.5s ease;
}

.link:hover {
  color: #164d7a;
  text-decoration: underline;
}

.title-black {
  font-size: 22px;
  text-transform: uppercase;
  opacity: 0.9;
}

.btn {
  background: #ff2b4a;
  color: #e0f2ff;
  font-weight: 700;
  text-decoration: none;
  display: block;
  width: 200px;
  text-align: center;
  padding: 12px 0;
  margin: 20px auto;
  transition: all 0.5s ease;
}

.btn:hover {
  color: #fff;
  background: #164d7a;
}

.work {
  background: #f6f6f6;
}

.heading {
  text-align: center;
}

.heading-description {
  opacity: 0.8;
  padding-top: 25px;
  width: 700px;
  margin: 0 auto;
}

.steps {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}

.step {
  width: 280px;
  height: 260px;
  text-align: center;
  margin-right: 20px;
}

.step-img {
  padding-top: 80px;
}

.step-white {
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  opacity: 1;
}

.step-first {
  background: rgba(35, 209, 160, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(35, 209, 160, 1) 0%,
    rgba(32, 214, 159, 1) 33%,
    rgba(29, 222, 161, 1) 54%,
    rgba(32, 214, 159, 1) 77%,
    rgba(35, 209, 160, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(35, 209, 160, 1)),
    color-stop(33%, rgba(32, 214, 159, 1)),
    color-stop(54%, rgba(29, 222, 161, 1)),
    color-stop(77%, rgba(32, 214, 159, 1)),
    color-stop(100%, rgba(35, 209, 160, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(35, 209, 160, 1) 0%,
    rgba(32, 214, 159, 1) 33%,
    rgba(29, 222, 161, 1) 54%,
    rgba(32, 214, 159, 1) 77%,
    rgba(35, 209, 160, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(35, 209, 160, 1) 0%,
    rgba(32, 214, 159, 1) 33%,
    rgba(29, 222, 161, 1) 54%,
    rgba(32, 214, 159, 1) 77%,
    rgba(35, 209, 160, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(35, 209, 160, 1) 0%,
    rgba(32, 214, 159, 1) 33%,
    rgba(29, 222, 161, 1) 54%,
    rgba(32, 214, 159, 1) 77%,
    rgba(35, 209, 160, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(35, 209, 160, 1) 0%,
    rgba(32, 214, 159, 1) 33%,
    rgba(29, 222, 161, 1) 54%,
    rgba(32, 214, 159, 1) 77%,
    rgba(35, 209, 160, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23d1a0', endColorstr='#23d1a0', GradientType=1 );
}

.step-second {
  background: rgba(33, 181, 226, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(33, 181, 226, 1) 0%,
    rgba(114, 193, 219, 1) 33%,
    rgba(113, 189, 217, 1) 54%,
    rgba(114, 193, 219, 1) 77%,
    rgba(33, 181, 226, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(33, 181, 226, 1)),
    color-stop(33%, rgba(114, 193, 219, 1)),
    color-stop(54%, rgba(113, 189, 217, 1)),
    color-stop(77%, rgba(114, 193, 219, 1)),
    color-stop(100%, rgba(33, 181, 226, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(33, 181, 226, 1) 0%,
    rgba(114, 193, 219, 1) 33%,
    rgba(113, 189, 217, 1) 54%,
    rgba(114, 193, 219, 1) 77%,
    rgba(33, 181, 226, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(33, 181, 226, 1) 0%,
    rgba(114, 193, 219, 1) 33%,
    rgba(113, 189, 217, 1) 54%,
    rgba(114, 193, 219, 1) 77%,
    rgba(33, 181, 226, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(33, 181, 226, 1) 0%,
    rgba(114, 193, 219, 1) 33%,
    rgba(113, 189, 217, 1) 54%,
    rgba(114, 193, 219, 1) 77%,
    rgba(33, 181, 226, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(33, 181, 226, 1) 0%,
    rgba(114, 193, 219, 1) 33%,
    rgba(113, 189, 217, 1) 54%,
    rgba(114, 193, 219, 1) 77%,
    rgba(33, 181, 226, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21b5e2', endColorstr='#21b5e2', GradientType=1 );
}

.step-third {
  background: rgba(106, 74, 201, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(106, 74, 201, 1) 0%,
    rgba(118, 91, 199, 1) 33%,
    rgba(122, 83, 219, 1) 54%,
    rgba(118, 91, 199, 1) 77%,
    rgba(106, 74, 201, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(106, 74, 201, 1)),
    color-stop(33%, rgba(118, 91, 199, 1)),
    color-stop(54%, rgba(122, 83, 219, 1)),
    color-stop(77%, rgba(118, 91, 199, 1)),
    color-stop(100%, rgba(106, 74, 201, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(106, 74, 201, 1) 0%,
    rgba(118, 91, 199, 1) 33%,
    rgba(122, 83, 219, 1) 54%,
    rgba(118, 91, 199, 1) 77%,
    rgba(106, 74, 201, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(106, 74, 201, 1) 0%,
    rgba(118, 91, 199, 1) 33%,
    rgba(122, 83, 219, 1) 54%,
    rgba(118, 91, 199, 1) 77%,
    rgba(106, 74, 201, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(106, 74, 201, 1) 0%,
    rgba(118, 91, 199, 1) 33%,
    rgba(122, 83, 219, 1) 54%,
    rgba(118, 91, 199, 1) 77%,
    rgba(106, 74, 201, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(106, 74, 201, 1) 0%,
    rgba(118, 91, 199, 1) 33%,
    rgba(122, 83, 219, 1) 54%,
    rgba(118, 91, 199, 1) 77%,
    rgba(106, 74, 201, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a4ac9', endColorstr='#6a4ac9', GradientType=1 );
}

.step-fourth {
  background: #ff2b4a;
}

.step-five {
  background: rgba(41, 89, 143, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(41, 89, 143, 1) 0%,
    rgba(52, 101, 158, 1) 33%,
    rgba(44, 101, 166, 1) 54%,
    rgba(52, 101, 158, 1) 77%,
    rgba(41, 89, 143, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(41, 89, 143, 1)),
    color-stop(33%, rgba(52, 101, 158, 1)),
    color-stop(54%, rgba(44, 101, 166, 1)),
    color-stop(77%, rgba(52, 101, 158, 1)),
    color-stop(100%, rgba(41, 89, 143, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(41, 89, 143, 1) 0%,
    rgba(52, 101, 158, 1) 33%,
    rgba(44, 101, 166, 1) 54%,
    rgba(52, 101, 158, 1) 77%,
    rgba(41, 89, 143, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(41, 89, 143, 1) 0%,
    rgba(52, 101, 158, 1) 33%,
    rgba(44, 101, 166, 1) 54%,
    rgba(52, 101, 158, 1) 77%,
    rgba(41, 89, 143, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(41, 89, 143, 1) 0%,
    rgba(52, 101, 158, 1) 33%,
    rgba(44, 101, 166, 1) 54%,
    rgba(52, 101, 158, 1) 77%,
    rgba(41, 89, 143, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(41, 89, 143, 1) 0%,
    rgba(52, 101, 158, 1) 33%,
    rgba(44, 101, 166, 1) 54%,
    rgba(52, 101, 158, 1) 77%,
    rgba(41, 89, 143, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29598f', endColorstr='#29598f', GradientType=1 );
}

.step__no-margin {
  margin-right: 0;
}

.blok-btn {
  padding-top: 50px;
}

.step-examples {
  width: 280px;
  height: 450px;
  text-align: center;
}

.step-examples p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  text-align: left;
  color: #fff;
  opacity: 0.6;
  padding-left: 36px;
  padding-bottom: 25px;
}

.step-link {
  display: block;
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease;
}

.step-link:hover {
  color: #ff2b4a;
}

.footer {
  background: #222222;
  font-size: 14px;
  line-height: 70px;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.social {
  margin-right: 50px;
}

.link-website {
  margin-right: 0;
}

.copyright {
  background: #2d2d2d;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #6c6c6c;
}

.copyright__img {
  padding-right: 2px;
  width: 10px;
  height: 10px;
}

.social__link {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #aaaaaa;
  transition: all 0.5s ease;
}

.social__link:hover {
  color: #ff2b4a;
}

/* 992px - 1200px (xl - ≥1200px) */
@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

/* 768px - 992px (lg - ≥992px) */
@media screen and (max-width: 992px) {
  .container {
    max-width: 962px;
  }
}

/* 576px - 768px (md - ≥768px) */
@media screen and (max-width: 768px) {
  .container {
    max-width: 738px;
  }
}

/* 0 - 576px (sm - ≥576px) */
@media screen and (max-width: 576px) {
  .container {
    max-width: 546px;
  }
  .header {
    padding-top: 40px;
    padding-bottom: 140px;
  }
  .nav {
    justify-content: center;
  }
  .logo {
    width: 200px;
    height: 120px;
  }
  .mail {
    display: none;
  }
  .offer {
    margin-top: 100px;
  }
  .offer h1 {
    font-size: 30px;
    line-height: 45px;
    width: 90%;
  }
  .offer__description {
    font-size: 16px;
    padding-top: 18px;
    line-height: 20px;
  }
  .section {
    padding: 50px 0;
  }
  .heading h2 {
    font-size: 30px;
    line-height: 32px;
  }
  .heading-description {
    line-height: 16px;
    padding-top: 0;
    width: 70%;
    margin: 0 auto;
    font-size: 12px;
  }
}
