@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 28px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  padding: 10px 0;
}

h1 {
  font-size: 50px;
  letter-spacing: 0.22em;
  line-height: 85px;
  border-top: 3px solid #9eb4be;
  border-bottom: 3px solid #9eb4be;
  width: 700px;
  padding: 14px 0;
  margin: 0 auto;
  text-transform: uppercase;
}

h3 {
  opacity: 0.7;
  font-size: 18px;
  color: #000000;
}

h4 {
  opacity: 0.7;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
}

p {
  margin-top: 5px;
}

ul {
  padding-left: 15px;
}

.header {
  background: #806a7c url('../img/bg.jpg') no-repeat center top / cover;
  color: #fff;
  padding-bottom: 170px;
  padding-top: 90px;
}

.section {
  padding: 100px 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.blok {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 150px;
  height: 90px;
}

.mail {
  color: #ccdfec;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer {
  margin-top: 130px;
  text-align: center;
  letter-spacing: 0.1em;
}

.offer p {
  font-size: 25px;
  color: #bcccd3;
  padding-top: 26px;
}

.about {
  background: #e0f2ff;
}

.photo {
  background: url('../img/ava.jpg') no-repeat center top;
  border-radius: 50%;
  width: 420px;
  height: 420px;
}

.description {
  width: 60%;
  opacity: 0.7;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #000000;
}

.btn {
  background: #ff2b4a;
  color: #e0f2ff;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: 0.01em;
  text-decoration: none;
  display: block;
  width: 200px;
  text-align: center;
  padding: 12px 0;
  	margin: 490px auto;
  transition: all 0.5s ease;
}

.btn:hover {
  color: #fff;
  background: #164d7a;

